
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 10px; /* Add margin for spacing */
  }
  
  .image-container::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 10px solid #090707;
    border-radius: 15px;
    z-index: -1;
    background-color: #090707;
  }
  
  .image-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .image-container a {
    display: block;
    color: #f2dddd;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .image-container a:hover {
    color: #383636; /* Change the text color to white when hovered */
  }
  