/* SearchBar.css */
.search-bar{
margin-top: 10px;
margin-left: 400px;
}
.search-bar-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-bar-input {
  margin-top: 0;
  padding: 8px;
  width: 600px;
  font-size: 16px;
  border: 1px solid #020303;
  background-color: #676969;
  border-radius: 4px;
  outline: none;
}

.search-bar-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #6d7070;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.search-bar-button:hover {
  background-color: #080909;
}
